# coding: utf-8

"""
    Workato Platform API

    Jobs API for the Workato Platform API.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from pydantic import Field, StrictBool, StrictInt, StrictStr
from typing import Optional
from workato_platform_cli.client.workato_api.models.job_list_response import JobListResponse
from workato_platform_cli.client.workato_api.models.job_detail import JobDetail

from workato_platform_cli.client.workato_api.api_client import ApiClient, RequestSerialized
from workato_platform_cli.client.workato_api.api_response import ApiResponse
from workato_platform_cli.client.workato_api.rest import RESTResponseType


class JobsApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    async def list_jobs(
        self,
        recipe_id: Annotated[StrictInt, Field(description="Recipe ID")],
        offset_job_id: Annotated[Optional[StrictStr], Field(description="Offset job ID for pagination")] = None,
        prev: Annotated[Optional[StrictBool], Field(description="When true, returns newer jobs relative to offset")] = None,
        status: Annotated[Optional[StrictStr], Field(description="Filter by job status")] = None,
        rerun_only: Annotated[Optional[StrictBool], Field(description="When true, returns only rerun jobs")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> JobListResponse:
        """List jobs for a recipe

        Returns a list of jobs for a given recipe. Jobs are returned in descending order by default.

        :param recipe_id: Recipe ID (required)
        :type recipe_id: int
        :param offset_job_id: Offset job ID for pagination
        :type offset_job_id: str
        :param prev: When true, returns newer jobs relative to offset
        :type prev: bool
        :param status: Filter by job status
        :type status: str
        :param rerun_only: When true, returns only rerun jobs
        :type rerun_only: bool
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._list_jobs_serialize(
            recipe_id=recipe_id,
            offset_job_id=offset_job_id,
            prev=prev,
            status=status,
            rerun_only=rerun_only,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "JobListResponse",
            '401': "Error",
            '404': "Error",
        }
        response_data = await self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        await response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    def _list_jobs_serialize(
        self,
        recipe_id,
        offset_job_id,
        prev,
        status,
        rerun_only,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        if recipe_id is not None:
            _path_params['recipe_id'] = recipe_id

        # process the query parameters
        if offset_job_id is not None:
            _query_params.append(('offset_job_id', offset_job_id))

        if prev is not None:
            _query_params.append(('prev', prev))

        if status is not None:
            _query_params.append(('status', status))

        if rerun_only is not None:
            _query_params.append(('rerun_only', rerun_only))

        # process the header parameters
        # process the form parameters
        # process the body parameter

        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )

        # authentication setting
        _auth_settings: List[str] = [
            'BearerAuth'
        ]

        return self.api_client.param_serialize(
            method='GET',
            resource_path='/api/recipes/{recipe_id}/jobs',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )


    @validate_call
    async def get_job(
        self,
        recipe_id: Annotated[StrictInt, Field(description="Recipe ID")],
        job_id: Annotated[StrictStr, Field(description="Job ID")],
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> JobDetail:
        """Get job details

        Returns detailed information about a specific job including execution steps.

        :param recipe_id: Recipe ID (required)
        :type recipe_id: int
        :param job_id: Job ID (required)
        :type job_id: str
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._get_job_serialize(
            recipe_id=recipe_id,
            job_id=job_id,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "JobDetail",
            '401': "Error",
            '404': "Error",
        }
        response_data = await self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        await response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    def _get_job_serialize(
        self,
        recipe_id,
        job_id,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        if recipe_id is not None:
            _path_params['recipe_id'] = recipe_id
        if job_id is not None:
            _path_params['job_id'] = job_id

        # process the query parameters
        # process the header parameters
        # process the form parameters
        # process the body parameter

        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )

        # authentication setting
        _auth_settings: List[str] = [
            'BearerAuth'
        ]

        return self.api_client.param_serialize(
            method='GET',
            resource_path='/api/recipes/{recipe_id}/jobs/{job_id}',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )
