# coding: utf-8

"""
    Workato Platform API

    SDK API for schema generation.

    The version of the OpenAPI document: 1.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from workato_platform_cli.client.workato_api.api_client import ApiClient, RequestSerialized
from workato_platform_cli.client.workato_api.api_response import ApiResponse
from workato_platform_cli.client.workato_api.rest import RESTResponseType


class SdkApi:
    """SDK API for schema generation and other SDK operations.

    NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_call
    async def generate_schema_from_json(
        self,
        body: Dict[str, Any],
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> Dict[str, Any]:
        """Generate schema from JSON sample

        Creates a Workato schema from a JSON sample.

        :param body: JSON sample data (required)
        :type body: dict
        :return: Generated schema
        """ # noqa: E501

        _param = self._generate_schema_serialize(
            body=body,
            endpoint='/api/sdk/generate_schema/json',
            _request_auth=_request_auth,
            _content_type=_content_type or 'application/json',
            _headers=_headers,
            _host_index=_host_index,
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "object",
            '401': "Error",
        }
        response_data = await self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        await response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data

    @validate_call
    async def generate_schema_from_csv(
        self,
        body: Dict[str, Any],
        col_sep: Annotated[Optional[StrictStr], Field(description="CSV column separator")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> Dict[str, Any]:
        """Generate schema from CSV sample

        Creates a Workato schema from a CSV sample.

        :param body: CSV sample data (required)
        :type body: str
        :param col_sep: Column separator
        :type col_sep: str
        :return: Generated schema
        """ # noqa: E501

        _param = self._generate_schema_serialize(
            body=body,
            endpoint='/api/sdk/generate_schema/csv',
            _request_auth=_request_auth,
            _content_type=_content_type or 'application/json',
            _headers=_headers,
            _host_index=_host_index,
            col_sep=col_sep,
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "object",
            '401': "Error",
        }
        response_data = await self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        await response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data

    def _generate_schema_serialize(
        self,
        body,
        endpoint,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
        col_sep=None,
    ) -> RequestSerialized:

        _host = None
        _collection_formats: Dict[str, str] = {}
        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}

        if col_sep is not None:
            _query_params.append(('col_sep', col_sep))

        # set content type
        if _content_type:
            _header_params['Content-Type'] = _content_type

        # set accept
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                ['application/json']
            )

        _auth_settings: List[str] = ['BearerAuth']

        _body_params = body

        return self.api_client.param_serialize(
            method='POST',
            resource_path=endpoint,
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )
